* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #18db86;
	--secondary: rgb(255, 255, 255);
	--secondary-light: rgb(173, 173, 173);
	--dark1: #222222;
	--dark2: #050505;
}

body {
	font-size: 18px;
	font-family: 'inter', sans serif;
	color: var(--secondary);
}

/* Estilos del menu  */
.menu__navbar {
	display: flex;
	justify-content: flex-end;
}

.menu__list {
	display: flex;
	list-style: none;
}

.menu__item a {
	font-size: 1.5rem;
	padding: 0.625rem;
	text-decoration: none;
	color: white;
	margin: 1.25rem;
}

.menu__item a:hover {
	border-bottom: var(--primary) solid;
}

.menu__hero {
	background-color: var(--dark2);
	position: relative;
}

/* imagen de portada*/
.menu__hero img {
	width: 100%;
	height: 33.125rem;
	opacity: 0.38;
}

span {
	color: var(--primary);
}
/* Estilos perfile header */

.profile div {
	position: absolute;
}

.profile {
	display: flex;
	justify-content: center;
}
.profile__square {
	width: 20rem;
	height: 28.125rem;
	background-color: var(--dark1);
	opacity: 0.7;
	z-index: 10;
	top: 4.375rem;
}
.profile__circle-trans {
	width: 18.125rem;
	height: 18.125rem;
	border-radius: 50%;
	border: solid 1.875rem var(--primary);
	opacity: 0.3;
	z-index: 19;
	top: 5.625rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.profile__circle-solido {
	width: 14.375rem;
	height: 14.375rem;
	border-radius: 50%;
	border: solid 0.9375rem var(--primary);

	z-index: 21;
	top: 7.5rem;
}
.profile__imagen {
	top: 8.375rem;
	z-index: 20;
}

.profile__img {
	width: 12.625rem;
	height: 12.625rem;
	border-radius: 50%;
}

/* estilos  Perfile Header */

.perfile__square-text {
	font-size: 2.5rem;
	color: var(--secondary);
	top: 23.75rem;
	z-index: 11;
}
.perfile__square-text2 {
	font-size: 1.2rem;
	color: var(--secondary);
	top: 26.125rem;
	z-index: 11;
}
.perfile__square-text3 {
	font-size: 1.3rem;
	color: var(--secondary);
	top: 30.625rem;
	z-index: 11;
}

.perfile__square-text3:hover {
	border-bottom: var(--primary) solid;
}

.perfile__square-text3 a {
	color: var(--secondary);
	text-decoration: none;
}
.perfile__square-contactIcon {
	top: 28.125rem;
	z-index: 11;
}

.perfile__square-contactIcon img {
	width: 2.5rem;
	margin: 0 0.625rem;
}

.perfile__square-contactIcon img:hover {
	transform: scale(1.2);
}

/* Portafolio */

.briefcase {
    background-color: var(--dark1);
}

.briefcase__container h2{
    padding: 2.5rem;
    text-align: center;
 
}

.briefcase__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18.125rem,auto));
    gap:1.25rem;
    width: 80%;
    margin:0 auto;
  
}

.briefcase__grid--trans{
    width: 100%;
    border-radius: .625rem;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.briefcase__grid--trans:hover {
    transform: scale(1.1);
}


/*skills*/

section.skills {
    background-color: var(--dark1);
}

.skill {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(15.625rem,auto));
    justify-content: center;
    gap:170px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 6.875rem;

}

.skill h2 {
    padding: 30px 30px 90px 30px;
    font-size: 2.2rem;
}

.skill img {
    width:90px;
}
.knowledge {
   display: grid;
   grid-template-columns:repeat(auto-fit,minmax(6.875rem,auto));
   justify-content: center;
   gap:25px;
}
.tools {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(4.375rem,auto));
    justify-content: center;
    gap:3.125rem;

}


/*tooltip*/

.skill h3 {
    background-color: var(--dark2);
    text-align: center;
    border-radius: .3125rem;
    padding:5px 0;
    font-size: 1.1rem;
    color: var(--primary);
    width:6.25rem;
    opacity: 0;
    transform: translate(0px,-6.25rem);
    transition: transform 0.4s ease, opacity 0.4s ease;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    -ms-border-radius: .3125rem;
    -o-border-radius: .3125rem;
    -webkit-transform: translate(0px,-6.25rem);
    -moz-transform: translate(0px,-6.25rem);
    -ms-transform: translate(0px,-6.25rem);
    -o-transform: translate(0px,-6.25rem);
    -webkit-transition: transform 0.4s ease, opacity 0.4s ease;
    -moz-transition: transform 0.4s ease, opacity 0.4s ease;
    -ms-transition: transform 0.4s ease, opacity 0.4s ease;
    -o-transition: transform 0.4s ease, opacity 0.4s ease;
}
.knowledge>div:hover h3,
.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px,-150px);
}




